{{#if resume.interests}}
{{#>section title=(sectionTitle resume "interests" "Interests")}}
	<div class="columns is-multiline is-gapless m-0">
		{{#each resume.interests}}
		<div class="column is-3 mb-4">
			<h5 class="m-0">{{this.name}}</h5>
			{{#if this.keywords}}
			<ul>
				{{#each this.keywords}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</div>
{{/section}}
{{/if}}