{{#if resume.publications}}
{{#>section title=(sectionTitle resume "publications" "Publications") class="publications-title"}}
	{{#each resume.publications}}
	<div class="mb-4">
		<div class="columns is-vcentered is-gapless m-0">
			<h5 class="column">
				<span>{{this.name}}</span> ─
				<span class="is-italic">{{this.publisher}}</span>
			</h5>
			<h6 class="column is-narrow">
				{{this.releaseDate}}
			</h6>
		</div>
		{{#if this.summary}}
		<p>
			{{this.summary}}
		</p>
		{{/if}}
	</div>
	{{/each}}
{{/section}}
{{/if}}