{{#if publications}}
{{#>section title="Publications"}}
	{{#each publications}}
	<div class="mb-5">
		<div class="columns is-vcentered is-gapless m-0">
			<h5 class="column mb-3">
				<span>{{this.name}}</span> ─
				<span class="is-italic">{{this.publisher}}</span>
			</h5>
			<h6 class="column is-narrow mb-3">
				{{this.releaseDate}}
			</h6>
		</div>
		{{#if this.summary}}
		<p>
			{{this.summary}}
		</p>
		{{/if}}
	</div>
	{{/each}}
{{/section}}
{{/if}}