{{#if resume.skills}}
{{#>section title=(sectionTitle resume "skills" "Skills") class="skills-title"}}
	{{#each resume.skills}}
	<div class="columns is-multiline is-gapless mb-2">
		<div class="column is-4">
			<h5 class="m-0">{{this.name}}</h5>
			<p class="is-italic has-text-grey">{{this.level}}</p>
		</div>
		{{#if this.keywords}}
		<div class="column is-8">
			<ul class="items">
				{{#each this.keywords}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
		{{/if}}
	</div>
	{{/each}}
{{/section}}
{{/if}}