body {
	font-family: "Inter", sans-serif;
}
.c-container {
	width: 800px;
	max-width: 90%;
	margin: 0 auto;
}
.m-auto {
	margin: auto;
}
.mb-sm-4 {
	margin-bottom: 1rem !important;
}
@media screen and (min-width: 769px), print {
	.mb-sm-4 {
		margin-bottom: 0 !important;
	}
}
